@import config.SwitchState
@(switches: Map[String, SwitchState], telemetryUrl: String)
<html>
    <head>
        <title>
            Switch states
        </title>
        <script type="module">
            const image = new Image();
            image.src = `@Html(telemetryUrl)&path=${window.location.pathname}`;
        </script>
    </head>
    <body>
        <dl>
        @for((name, state) <- switches) {
            <dt> @name </dt>
            <dl> @{state.name} </dl>
        }
        </dl>
    </body>
</html>