<configuration>
    
  <conversionRule conversionWord="coloredLevel" converterClass="play.api.Logger$ColoredLevel" />

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%coloredLevel - %logger - %message%n%xException</pattern>
    </encoder>
  </appender>

  <appender name="LOGFILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>logs/login.gutools.log</file>

    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>logs/login.gutools.log.%d{yyyy-MM-dd}.gz</fileNamePattern>
      <maxHistory>14</maxHistory>
    </rollingPolicy>

    <encoder>
      <pattern>%date [%thread] %-5level %logger{36} - %msg%n%xException{20}</pattern>
    </encoder>
  </appender>

  <!--
    The logger name is typically the Java/Scala package name.
    This configures the log level to log at for a package and its children packages.
  -->
  <logger name="play" level="INFO" />
  <logger name="application" level="INFO" />
  <logger name="com.google.api.client.http.HttpTransport" level="WARN" />

  <root level="INFO">
    <appender-ref ref="STDOUT" />
    <appender-ref ref="LOGFILE" />
  </root>

</configuration>
