<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title>Logged out</title>
</head>
<body>
  <p>
    You have successfully logged out of Guardian tools. If you are still logged
    into Google, you will automatically log back in when you next visit.
  </p>

  <p>
    This is usually what you would want to happen, but in the unlikely case
    that you do <em>not</em> want to be logged back in, for example if you need
    to switch accounts, you should go to Google (or Gmail, etc.), log out there
    and sign into a different account before returning to a Guardian tool.
  </p>

  <p>
    For more support, please contact
    <a href="mailto:central.production@@guardian.co.uk">Central Production</a>.
  </p>
</body>
